/* line 10, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.wrap {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -185px;
}
/* line 18, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.wrap .footer-push {
  height: 185px;
}

/* line 20, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer {
  clear: both;
  position: relative;
  height: 185px;
}

/* line 2, ../sass/partials/_mobile-base.scss */
html, body {
  min-width: 310px;
  width: auto;
}

/* line 6, ../sass/partials/_mobile-base.scss */
body {
  font-size: 12px;
  line-height: 18px;
}

/* line 10, ../sass/partials/_mobile-base.scss */
header {
  width: 310px;
}

/* line 13, ../sass/partials/_mobile-base.scss */
h2 {
  font-size: 20px;
  line-height: 20px;
}

/* line 17, ../sass/partials/_mobile-base.scss */
.container {
  min-width: 310px;
  width: auto;
}

/* line 25, ../sass/partials/_mobile-base.scss */
.container section article .design, .container section article .development, .container section article .complex-websites, .container section article .code-quality {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.5%;
  margin-right: 0;
  margin: 20px 0 0 0;
}
/* line 28, ../sass/partials/_mobile-base.scss */
.container section article .design .logo, .container section article .development .logo, .container section article .complex-websites .logo, .container section article .code-quality .logo {
  display: inline;
  float: left;
  overflow: hidden;
  width: 10%;
  margin-right: 2.5%;
  margin-left: 5px;
}
/* line 31, ../sass/partials/_mobile-base.scss */
.container section article .design .logo img, .container section article .development .logo img, .container section article .complex-websites .logo img, .container section article .code-quality .logo img {
  width: 30px;
}
/* line 35, ../sass/partials/_mobile-base.scss */
.container section article .design .desc, .container section article .development .desc, .container section article .complex-websites .desc, .container section article .code-quality .desc {
  display: inline;
  float: left;
  overflow: hidden;
  width: 85%;
  margin-right: 0;
}
/* line 37, ../sass/partials/_mobile-base.scss */
.container section article .design .desc p, .container section article .development .desc p, .container section article .complex-websites .desc p, .container section article .code-quality .desc p {
  width: 100%;
  margin: 5px 0 0 0;
}
/* line 44, ../sass/partials/_mobile-base.scss */
.container section .statistics {
  display: none;
}

/* line 49, ../sass/partials/_mobile-base.scss */
.border {
  display: none;
}

/* line 52, ../sass/partials/_mobile-base.scss */
.clients {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.5%;
  margin-right: 2.5%;
  margin: 20px 0 0 0;
}
/* line 55, ../sass/partials/_mobile-base.scss */
.clients .list {
  margin-left: 5px;
}
/* line 57, ../sass/partials/_mobile-base.scss */
.clients .list .bw {
  margin: 15px 14px 0 0;
}

/* line 64, ../sass/partials/_mobile-base.scss */
.left-address {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.5%;
  margin-right: 0;
  margin: 20px 0 0 0;
}
/* line 67, ../sass/partials/_mobile-base.scss */
.left-address .address {
  margin-left: 5px;
}
/* line 69, ../sass/partials/_mobile-base.scss */
.left-address .address h2.phone, .left-address .address h2.on-line {
  margin-top: 20px;
}
/* line 72, ../sass/partials/_mobile-base.scss */
.left-address .address .locality, .left-address .address .tel, .left-address .address .skype {
  margin-top: 10px;
}

/* line 77, ../sass/partials/_mobile-base.scss */
.right-address {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.5%;
  margin-right: 0;
  padding-left: 0%;
}
/* line 80, ../sass/partials/_mobile-base.scss */
.right-address h2 {
  margin: 20px 0 0 5px;
}
/* line 83, ../sass/partials/_mobile-base.scss */
.right-address #map {
  width: 295px;
  height: 200px;
  border: 5px solid #f8f8f8;
  margin: 10px 0 0 5px;
}

/* line 90, ../sass/partials/_mobile-base.scss */
.form-txt {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.5%;
  margin-right: 0;
}
/* line 92, ../sass/partials/_mobile-base.scss */
.form-txt h2 {
  margin-left: 5px;
}
/* line 95, ../sass/partials/_mobile-base.scss */
.form-txt p {
  margin: 10px 0 0 5px;
}

/* line 99, ../sass/partials/_mobile-base.scss */
form {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.5%;
  margin-right: 0;
  margin-top: 10px;
}
/* line 102, ../sass/partials/_mobile-base.scss */
form .form {
  margin: 0 0 0 5px;
}
/* line 104, ../sass/partials/_mobile-base.scss */
form .form input, form .form textarea {
  width: 295px;
  height: 20px;
  font-size: 12px;
}
/* line 109, ../sass/partials/_mobile-base.scss */
form .form textarea {
  height: 100px;
}
/* line 112, ../sass/partials/_mobile-base.scss */
form .form span {
  display: none;
}
/* line 115, ../sass/partials/_mobile-base.scss */
form .form input.send-button {
  margin-left: 255px;
  font-size: 16px;
}
/* line 119, ../sass/partials/_mobile-base.scss */
form .form .send {
  padding-left: 0%;
}

/* line 126, ../sass/partials/_mobile-base.scss */
.container .about-us, .container .office, .container .studio-design, .container .studio-development, .container .studio-complex-websites, .container .studio-code-quality {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.5%;
  margin-right: 0;
  margin: 20px 0 0 0;
}
/* line 129, ../sass/partials/_mobile-base.scss */
.container .about-us h2, .container .office h2, .container .studio-design h2, .container .studio-development h2, .container .studio-complex-websites h2, .container .studio-code-quality h2 {
  margin-left: 5px;
}
/* line 132, ../sass/partials/_mobile-base.scss */
.container .about-us p, .container .office p, .container .studio-design p, .container .studio-development p, .container .studio-complex-websites p, .container .studio-code-quality p {
  margin: 10px 0 0 5px;
}
/* line 136, ../sass/partials/_mobile-base.scss */
.container .studio-design, .container .studio-development, .container .studio-complex-websites, .container .studio-code-quality {
  margin-top: 20px;
}
/* line 139, ../sass/partials/_mobile-base.scss */
.container .agile-scrum-advantages {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.5%;
  margin-right: 0;
  margin: 20px 0 0 0;
}
/* line 142, ../sass/partials/_mobile-base.scss */
.container .agile-scrum-advantages .agile-scrum-advantages-p-1 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.5%;
  margin-right: 2.5%;
}
/* line 144, ../sass/partials/_mobile-base.scss */
.container .agile-scrum-advantages .agile-scrum-advantages-p-1 p {
  margin: 10px 0 0 5px;
}
/* line 148, ../sass/partials/_mobile-base.scss */
.container .agile-scrum-advantages .agile-scrum-advantages-p-2 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.5%;
  margin-right: 2.5%;
}
/* line 150, ../sass/partials/_mobile-base.scss */
.container .agile-scrum-advantages .agile-scrum-advantages-p-2 p {
  margin: 10px 0 0 5px;
}
/* line 154, ../sass/partials/_mobile-base.scss */
.container .agile-scrum-advantages .agile-scrum-advantages-p-3 {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.5%;
  margin-right: 0;
}
/* line 156, ../sass/partials/_mobile-base.scss */
.container .agile-scrum-advantages .agile-scrum-advantages-p-3 p {
  margin: 20px 0 0 5px;
}

/* line 164, ../sass/partials/_mobile-base.scss */
.team {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.5%;
  margin-right: 2.5%;
  margin: 20px 0 0 0;
}
/* line 167, ../sass/partials/_mobile-base.scss */
.team .employees, .team h2 {
  margin-left: 5px;
}
/* line 170, ../sass/partials/_mobile-base.scss */
.team .employees li {
  margin: 10px 15px 0 0;
}
/* line 172, ../sass/partials/_mobile-base.scss */
.team .employees li img {
  width: 80px;
  height: 94px;
}
/* line 176, ../sass/partials/_mobile-base.scss */
.team .employees li p.fn, .team .employees li p.title {
  line-height: 16px;
}

/* line 183, ../sass/partials/_mobile-base.scss */
.work-background {
  background: none;
  margin: 20px 0 0 5px;
  width: 310px;
  padding: 0;
}
/* line 203, ../sass/partials/_mobile-base.scss */
.work-background .container .work .screenshots {
  margin-top: 0;
}
/* line 205, ../sass/partials/_mobile-base.scss */
.work-background .container .work .screenshots img {
  margin-top: 10px;
  width: 300px;
}

/* line 214, ../sass/partials/_mobile-base.scss */
.container .advertising {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.5%;
  margin-right: 0;
}
/* line 216, ../sass/partials/_mobile-base.scss */
.container .advertising .booklet {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.5%;
  margin-right: 0;
  margin-top: 10px;
}
/* line 219, ../sass/partials/_mobile-base.scss */
.container .advertising .booklet img {
  margin-left: 5px;
  width: 300px;
}
/* line 224, ../sass/partials/_mobile-base.scss */
.container .advertising .city-light {
  padding-left: 0%;
}
/* line 226, ../sass/partials/_mobile-base.scss */
.container .advertising .city-light img {
  margin-left: 5px;
  width: 300px;
}

/* line 1, ../sass/partials/_mobile-footer.scss */
footer {
  min-width: 310px;
}
/* line 3, ../sass/partials/_mobile-footer.scss */
footer .footer-container {
  min-width: 310px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  line-height: 18px;
  padding-top: 20px;
}
/* line 7, ../sass/partials/_mobile-footer.scss */
footer .footer-container ul {
  margin-top: 10px;
}
/* line 10, ../sass/partials/_mobile-footer.scss */
footer .footer-container .sitemap {
  display: none;
}
/* line 13, ../sass/partials/_mobile-footer.scss */
footer .footer-container .resources {
  display: inline;
  float: left;
  overflow: hidden;
  width: 22.5%;
  margin-right: 2.5%;
  padding-left: 0%;
}
/* line 16, ../sass/partials/_mobile-footer.scss */
footer .footer-container .resources ul, footer .footer-container .resources h4 {
  margin-left: 5px;
}
/* line 20, ../sass/partials/_mobile-footer.scss */
footer .footer-container .twitter {
  display: none;
}
/* line 23, ../sass/partials/_mobile-footer.scss */
footer .footer-container .address {
  display: inline;
  float: left;
  overflow: hidden;
  width: 60%;
  margin-right: 0;
}
/* line 25, ../sass/partials/_mobile-footer.scss */
footer .footer-container .address address {
  margin-top: 10px;
}
/* line 29, ../sass/partials/_mobile-footer.scss */
footer .footer-container .copyright {
  display: inline;
  float: left;
  overflow: hidden;
  width: 47.5%;
  margin-right: 2.5%;
}
/* line 31, ../sass/partials/_mobile-footer.scss */
footer .footer-container .copyright p {
  margin-left: 5px;
}

/* line 2, ../sass/partials/_mobile-header.scss */
header .header {
  margin-top: 5px;
}
/* line 4, ../sass/partials/_mobile-header.scss */
header .header .left-side {
  display: inline;
  float: left;
  overflow: hidden;
  width: 97.5%;
  margin-right: 0;
}
/* line 6, ../sass/partials/_mobile-header.scss */
header .header .left-side .slogan {
  display: none;
}
/* line 10, ../sass/partials/_mobile-header.scss */
header .header .left-side .lang-list ul {
  margin-left: 5px;
}
/* line 13, ../sass/partials/_mobile-header.scss */
header .header .left-side .lang-list ul li a {
  font-size: 12px;
}
/* line 16, ../sass/partials/_mobile-header.scss */
header .header .left-side .lang-list ul li a.ua {
  margin-left: 5px;
}
/* line 23, ../sass/partials/_mobile-header.scss */
header .header .left-side .menu ul {
  margin: 20px 0 0 5px;
}
/* line 25, ../sass/partials/_mobile-header.scss */
header .header .left-side .menu ul li {
  margin: 0 25px 0 0;
}
/* line 27, ../sass/partials/_mobile-header.scss */
header .header .left-side .menu ul li a {
  font-size: 15px;
}
/* line 34, ../sass/partials/_mobile-header.scss */
header .header .logo {
  display: inline;
  float: left;
  overflow: hidden;
  width: 47.5%;
  margin-right: 2.5%;
  padding-left: 25%;
  margin-top: 20px;
}
/* line 39, ../sass/partials/_mobile-header.scss */
header .header .logo a img {
  height: 150px;
  width: 150px;
  float: left;
}
