/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.wrap {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -255px;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.wrap .footer-push {
  height: 255px;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer {
  clear: both;
  position: relative;
  height: 255px;
}

/* line 5, ../sass/partials/_base.scss */
html, body {
  min-width: 950px;
  width: auto;
}

/* line 9, ../sass/partials/_base.scss */
body {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 20px;
  color: #4d4d4f;
}

/* line 17, ../sass/partials/_base.scss */
h2 {
  font-family: 'Marmelad', sans-serif;
  font-size: 30px;
  line-height: 30px;
}

/* line 23, ../sass/partials/_base.scss */
h3 {
  font-size: 30px;
  line-height: 30px;
  font-family: 'Impact', 'Techno', 'Charcoal', 'Arial Narrow', 'Tahoma',"Helvetica Inserat", sans-serif;
}

/* line 29, ../sass/partials/_base.scss */
h4 {
  color: #979797;
  font-family: 'Marmelad', sans-serif;
}

/* line 43, ../sass/partials/_base.scss */
a {
  color: #d4372a;
  text-decoration: underline;
}
/* line 46, ../sass/partials/_base.scss */
a:hover {
  text-decoration: none;
}

/* line 51, ../sass/partials/_base.scss */
.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 59, ../sass/partials/_base.scss */
.container section article .design, .container section article .development, .container section article .complex-websites, .container section article .code-quality {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  margin-top: 80px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container section article .design, * html .container section article .development, * html .container section article .complex-websites, * html .container section article .code-quality {
  overflow-x: hidden;
}
/* line 62, ../sass/partials/_base.scss */
.container section article .design .logo, .container section article .development .logo, .container section article .complex-websites .logo, .container section article .code-quality .logo {
  display: inline;
  float: left;
  margin-right: 0;
  width: 70px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container section article .design .logo, * html .container section article .development .logo, * html .container section article .complex-websites .logo, * html .container section article .code-quality .logo {
  overflow-x: hidden;
}
/* line 64, ../sass/partials/_base.scss */
.container section article .design .logo img, .container section article .development .logo img, .container section article .complex-websites .logo img, .container section article .code-quality .logo img {
  width: 60px;
}
/* line 68, ../sass/partials/_base.scss */
.container section article .design .desc, .container section article .development .desc, .container section article .complex-websites .desc, .container section article .code-quality .desc {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container section article .design .desc, * html .container section article .development .desc, * html .container section article .complex-websites .desc, * html .container section article .code-quality .desc {
  overflow-x: hidden;
}
/* line 70, ../sass/partials/_base.scss */
.container section article .design .desc p, .container section article .development .desc p, .container section article .complex-websites .desc p, .container section article .code-quality .desc p {
  margin: 15px 0 0 0;
  width: 400px;
}
/* line 76, ../sass/partials/_base.scss */
.container section article .development, .container section article .code-quality {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container section article .development, * html .container section article .code-quality {
  overflow-x: hidden;
}
/* line 81, ../sass/partials/_base.scss */
.container section article .complex-websites .logo img, .container section article .code-quality .logo img {
  margin: 0 0 0 0;
}
/* line 87, ../sass/partials/_base.scss */
.container section .statistics {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container section .statistics {
  overflow-x: hidden;
}
/* line 89, ../sass/partials/_base.scss */
.container section .statistics .statistics-heading {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  margin: 65px 0 25px 0;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container section .statistics .statistics-heading {
  overflow-x: hidden;
}
/* line 92, ../sass/partials/_base.scss */
.container section .statistics .statistics-heading .logo {
  display: inline;
  float: left;
  margin-right: 0;
  width: 70px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container section .statistics .statistics-heading .logo {
  overflow-x: hidden;
}
/* line 94, ../sass/partials/_base.scss */
.container section .statistics .statistics-heading .logo img {
  width: 60px;
  height: 46px;
}
/* line 99, ../sass/partials/_base.scss */
.container section .statistics .statistics-heading .desc {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container section .statistics .statistics-heading .desc {
  overflow-x: hidden;
}
/* line 101, ../sass/partials/_base.scss */
.container section .statistics .statistics-heading .desc h2 {
  margin: 19px 0 0 0;
}

/* line 110, ../sass/partials/_base.scss */
.border {
  border: 1px dotted #4d4d4f;
  margin: 0 auto;
  width: 950px;
  padding: 30px 40px;
}

/* line 117, ../sass/partials/_base.scss */
.container .statistic-hours {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .statistic-hours {
  overflow-x: hidden;
}
/* line 120, ../sass/partials/_base.scss */
.container .statistic-hours ul li {
  padding-left: 71px;
  margin: 40px 0 0 0;
}
/* line 123, ../sass/partials/_base.scss */
.container .statistic-hours ul li h3 {
  color: #4d4d4f;
}
/* line 126, ../sass/partials/_base.scss */
.container .statistic-hours ul li p {
  color: #736357;
  font-size: 20px;
  font-family: 'Impact', 'Techno', 'Charcoal', 'Arial Narrow', 'Tahoma',"Helvetica Inserat", sans-serif;
}
/* line 132, ../sass/partials/_base.scss */
.container .statistic-hours ul .hours-office {
  background: url("../images/statistics-hours-ico.png") 0 0 no-repeat;
  margin: 0;
}
/* line 135, ../sass/partials/_base.scss */
.container .statistic-hours ul .hours-office h3 {
  padding-top: 10px;
}
/* line 139, ../sass/partials/_base.scss */
.container .statistic-hours ul .corp-emails {
  background: url("../images/statistics-hours-ico.png") 0 -100px no-repeat;
}
/* line 142, ../sass/partials/_base.scss */
.container .statistic-hours ul .hours-music {
  background: url("../images/statistics-hours-ico.png") 0 -190px no-repeat;
}
/* line 147, ../sass/partials/_base.scss */
.container .frameworks {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .frameworks {
  overflow-x: hidden;
}
/* line 149, ../sass/partials/_base.scss */
.container .frameworks h3 {
  color: #ad2723;
  margin: 10px 0 0 -15px;
}
/* line 153, ../sass/partials/_base.scss */
.container .frameworks ul {
  margin: 10px 0 0 -15px;
}
/* line 155, ../sass/partials/_base.scss */
.container .frameworks ul li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  text-align: center;
  width: 87px;
  margin-right: 38px;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.container .frameworks ul li {
  *display: inline;
}
/* line 160, ../sass/partials/_base.scss */
.container .frameworks ul li p {
  font-family: 'Impact', 'Techno', 'Charcoal', 'Arial Narrow', 'Tahoma',"Helvetica Inserat", sans-serif;
  color: #736357;
  font-size: 18px;
  margin-top: 5px;
}
/* line 166, ../sass/partials/_base.scss */
.container .frameworks ul li p.percent {
  background: url("../images/percent.png") 0 0 no-repeat;
  font-size: 38px;
  line-height: 87px;
  color: #fff;
  width: 87px;
  height: 87px;
  margin-top: 0;
}
/* line 177, ../sass/partials/_base.scss */
.container .frameworks p.desc {
  margin: 22px 0 0 -15px;
}
/* line 181, ../sass/partials/_base.scss */
.container .energy-resources {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  margin-top: 20px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .energy-resources {
  overflow-x: hidden;
}
/* line 184, ../sass/partials/_base.scss */
.container .energy-resources h3 {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  color: #ad2723;
  margin-top: -6px;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.container .energy-resources h3 {
  *display: inline;
}
/* line 189, ../sass/partials/_base.scss */
.container .energy-resources .authentic {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  border: 1px dotted #4d4d4f;
  background: #f5eee3;
  padding: 20px;
  margin: 0 0 0 15px;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.container .energy-resources .authentic {
  *display: inline;
}
/* line 195, ../sass/partials/_base.scss */
.container .energy-resources .authentic p {
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #736357;
}
/* line 203, ../sass/partials/_base.scss */
.container .energy-resources ul li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0 20px 0 0;
  height: 104px;
  position: relative;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.container .energy-resources ul li {
  *display: inline;
}
/* line 208, ../sass/partials/_base.scss */
.container .energy-resources ul li .txt {
  position: absolute;
  bottom: 0;
}
/* line 212, ../sass/partials/_base.scss */
.container .energy-resources ul li h3 {
  color: #4d4d4f;
  display: block;
  margin-top: 0;
}
/* line 217, ../sass/partials/_base.scss */
.container .energy-resources ul li p {
  color: #736357;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Impact', 'Techno', 'Charcoal', 'Arial Narrow', 'Tahoma',"Helvetica Inserat", sans-serif;
}
/* line 224, ../sass/partials/_base.scss */
.container .energy-resources ul .beer {
  background: url("../images/beer.png") 0 0 no-repeat;
  padding-left: 35px;
  width: 120px;
}
/* line 229, ../sass/partials/_base.scss */
.container .energy-resources ul .coffee {
  background: url("../images/coffee.png") 0 0 no-repeat;
  padding-left: 55px;
  width: 117px;
}
/* line 234, ../sass/partials/_base.scss */
.container .energy-resources ul .tea {
  background: url("../images/tea.png") 0 0 no-repeat;
  padding-left: 85px;
  width: 90px;
}
/* line 239, ../sass/partials/_base.scss */
.container .energy-resources ul .bananas {
  background: url("../images/bananas.png") 0 0 no-repeat;
  padding-left: 75px;
  width: 70px;
}
/* line 244, ../sass/partials/_base.scss */
.container .energy-resources ul .cookies {
  background: url("../images/cookies.png") 0 0 no-repeat;
  padding-left: 65px;
  width: 119px;
}

/* line 254, ../sass/partials/_base.scss */
.clients {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin: 60px 0 0 0;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .clients {
  overflow-x: hidden;
}
/* line 257, ../sass/partials/_base.scss */
.clients img {
  height: 57px;
  width: 85px;
}
/* line 261, ../sass/partials/_base.scss */
.clients .bw {
  position: relative;
  display: block;
  width: 85px;
  height: 57px;
  float: left;
  margin: 15px 30px 0 0;
}

/* line 273, ../sass/partials/_base.scss */
.left-address {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
  margin-top: 80px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .left-address {
  overflow-x: hidden;
}
/* line 277, ../sass/partials/_base.scss */
.left-address .address h2.on-line, .left-address .address h2.phone {
  margin-top: 40px;
}
/* line 280, ../sass/partials/_base.scss */
.left-address .address .locality, .left-address .address .tel, .left-address .address .skype {
  margin-top: 20px;
}
/* line 285, ../sass/partials/_base.scss */
.left-address .address .skype p span {
  color: #4d4d4f;
}
/* line 292, ../sass/partials/_base.scss */
.left-address .address .mail p span {
  color: #d4372a;
  text-decoration: underline;
}

/* line 300, ../sass/partials/_base.scss */
.right-address {
  display: inline;
  float: left;
  margin-right: 0;
  width: 710px;
  padding-left: 40px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .right-address {
  overflow-x: hidden;
}
/* line 303, ../sass/partials/_base.scss */
.right-address h2 {
  margin-top: 80px;
}
/* line 306, ../sass/partials/_base.scss */
.right-address #map {
  display: block;
  margin-top: 20px;
  height: 320px;
  border: 10px solid #f8f8f8;
  width: 690px;
}

/* line 314, ../sass/partials/_base.scss */
.form-txt {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-top: 40px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .form-txt {
  overflow-x: hidden;
}
/* line 317, ../sass/partials/_base.scss */
.form-txt p {
  color: #979797;
  margin-top: 20px;
}

/* line 322, ../sass/partials/_base.scss */
form {
  display: inline;
  float: left;
  margin-right: 0;
  width: 710px;
  margin-top: 40px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html form {
  overflow-x: hidden;
}
/* line 325, ../sass/partials/_base.scss */
form .form {
  margin-top: 15px;
}
/* line 327, ../sass/partials/_base.scss */
form .form label {
  display: block;
  margin: 10px 0 3px 0;
}
/* line 331, ../sass/partials/_base.scss */
form .form input.error {
  border: 1px solid #eb7272;
}
/* line 333, ../sass/partials/_base.scss */
form .form input.error:hover, form .form input.error:focus {
  border: 1px solid #eb7272;
}
/* line 337, ../sass/partials/_base.scss */
form .form input, form .form textarea {
  width: 470px;
  height: 30px;
  color: #4c4d4f;
  text-indent: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
}
/* line 344, ../sass/partials/_base.scss */
form .form input:hover, form .form input:focus, form .form textarea:hover, form .form textarea:focus {
  border: 1px solid #4d4d4f;
}
/* line 348, ../sass/partials/_base.scss */
form .form textarea {
  height: 195px;
  text-indent: 15px;
  padding-top: 10px;
}
/* line 353, ../sass/partials/_base.scss */
form .form span {
  margin-left: 15px;
  color: #eb7272;
}
/* line 357, ../sass/partials/_base.scss */
form .form .send {
  padding-left: 400px;
}
/* line 360, ../sass/partials/_base.scss */
form .form input.send-button {
  display: inline;
  float: left;
  margin-right: 0;
  width: 70px;
  text-indent: -3px;
  height: 22px;
  width: 45px;
  font-size: 18px;
  margin-left: 30px;
  color: #d4372a;
  border: none;
  border-radius: 0;
  padding: 0;
  background: none;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html form .form input.send-button {
  overflow-x: hidden;
}
/* line 372, ../sass/partials/_base.scss */
form .form input.send-button:hover {
  cursor: pointer;
}

/* line 381, ../sass/partials/_base.scss */
.container .about-us, .container .office, .container .studio-design, .container .studio-development, .container .studio-complex-websites, .container .studio-code-quality {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  margin-top: 80px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .about-us, * html .container .office, * html .container .studio-design, * html .container .studio-development, * html .container .studio-complex-websites, * html .container .studio-code-quality {
  overflow-x: hidden;
}
/* line 384, ../sass/partials/_base.scss */
.container .about-us p, .container .office p, .container .studio-design p, .container .studio-development p, .container .studio-complex-websites p, .container .studio-code-quality p {
  margin-top: 20px;
}
/* line 388, ../sass/partials/_base.scss */
.container .office, .container .studio-development, .container .studio-code-quality {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .office, * html .container .studio-development, * html .container .studio-code-quality {
  overflow-x: hidden;
}
/* line 390, ../sass/partials/_base.scss */
.container .office h2, .container .office p, .container .studio-development h2, .container .studio-development p, .container .studio-code-quality h2, .container .studio-code-quality p {
  margin-left: 5px;
}
/* line 394, ../sass/partials/_base.scss */
.container .studio-design, .container .studio-development, .container .studio-complex-websites, .container .studio-code-quality {
  margin-top: 60px;
}
/* line 397, ../sass/partials/_base.scss */
.container .agile-scrum-advantages {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-top: 60px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .agile-scrum-advantages {
  overflow-x: hidden;
}
/* line 400, ../sass/partials/_base.scss */
.container .agile-scrum-advantages .agile-scrum-advantages-p-1 {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .agile-scrum-advantages .agile-scrum-advantages-p-1 {
  overflow-x: hidden;
}
/* line 402, ../sass/partials/_base.scss */
.container .agile-scrum-advantages .agile-scrum-advantages-p-1 p {
  margin-top: 20px;
}
/* line 406, ../sass/partials/_base.scss */
.container .agile-scrum-advantages .agile-scrum-advantages-p-2 {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .agile-scrum-advantages .agile-scrum-advantages-p-2 {
  overflow-x: hidden;
}
/* line 408, ../sass/partials/_base.scss */
.container .agile-scrum-advantages .agile-scrum-advantages-p-2 p {
  margin: 20px 0 0 5px;
}
/* line 412, ../sass/partials/_base.scss */
.container .agile-scrum-advantages .agile-scrum-advantages-p-3 {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .agile-scrum-advantages .agile-scrum-advantages-p-3 {
  overflow-x: hidden;
}
/* line 414, ../sass/partials/_base.scss */
.container .agile-scrum-advantages .agile-scrum-advantages-p-3 p {
  margin-top: 45px;
}

/* line 422, ../sass/partials/_base.scss */
.team {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-top: 60px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .team {
  overflow-x: hidden;
}
/* line 425, ../sass/partials/_base.scss */
.team .employees li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 15px 29px 0 0;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.team .employees li {
  *display: inline;
}
/* line 428, ../sass/partials/_base.scss */
.team .employees li img {
  width: 157px;
  height: 185px;
}
/* line 432, ../sass/partials/_base.scss */
.team .employees li p.fn {
  color: #4f4f4f;
  margin-top: 0;
}
/* line 436, ../sass/partials/_base.scss */
.team .employees li p.title {
  color: #979797;
  font-size: 12px;
  margin-top: 0;
}

/* line 445, ../sass/partials/_base.scss */
.works {
  width: 100%;
  margin-top: 60px;
}
/* line 448, ../sass/partials/_base.scss */
.works ul {
  width: 100%;
}
/* line 450, ../sass/partials/_base.scss */
.works ul li {
  width: 400px;
  height: 200px;
  float: left;
}
/* line 455, ../sass/partials/_base.scss */
.works ul li:hover .color-1 {
  background: #9c2522;
}
/* line 458, ../sass/partials/_base.scss */
.works ul li:hover .color-2 {
  background: #f0525b;
}
/* line 461, ../sass/partials/_base.scss */
.works ul li:hover .color-3 {
  background: #9a6e39;
}
/* line 464, ../sass/partials/_base.scss */
.works ul li:hover .color-4 {
  background: #e16c34;
}
/* line 468, ../sass/partials/_base.scss */
.works ul li a {
  float: left;
  display: block;
}
/* line 471, ../sass/partials/_base.scss */
.works ul li a img {
  width: 200px;
  height: 200px;
}
/* line 477, ../sass/partials/_base.scss */
.works ul li .work-short-desc {
  float: left;
  width: 200px;
  height: 160px;
  padding: 20px 0;
  position: relative;
}
/* line 483, ../sass/partials/_base.scss */
.works ul li .work-short-desc a {
  color: #fff;
  font-family: 'Marmelad', sans-serif;
  text-decoration: none;
}
/* line 489, ../sass/partials/_base.scss */
.works ul li .work-short-desc p a {
  padding-left: 10px;
  font-size: 18px;
  line-height: 18px;
}
/* line 495, ../sass/partials/_base.scss */
.works ul li .work-short-desc .link {
  font-size: 24px;
  line-height: 24px;
  position: absolute;
  bottom: 20px;
  left: 10px;
}
/* line 503, ../sass/partials/_base.scss */
.works ul li .color-1 {
  background: #a1a1a1;
}
/* line 506, ../sass/partials/_base.scss */
.works ul li .color-2 {
  background: #c3c3c3;
}
/* line 509, ../sass/partials/_base.scss */
.works ul li .color-3 {
  background: #acacac;
}
/* line 512, ../sass/partials/_base.scss */
.works ul li .color-4 {
  background: #d5d5d5;
}

/* line 520, ../sass/partials/_base.scss */
.clearfix {
  clear: both;
}

/* line 523, ../sass/partials/_base.scss */
.bwWrapper {
  position: relative;
  display: block;
}

/* line 529, ../sass/partials/_base.scss */
.work-background {
  background: #f8f8f8;
  margin: 60px auto 0 auto;
  width: 950px;
  padding: 30px 40px;
}
/* line 536, ../sass/partials/_base.scss */
.work-background .container .work h2 {
  position: relative;
}
/* line 538, ../sass/partials/_base.scss */
.work-background .container .work h2 .link {
  font-size: 12px;
  line-height: 20px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-decoration: underline;
  color: #4d4d4f;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 547, ../sass/partials/_base.scss */
.work-background .container .work h2 .link:hover {
  color: #d4372a;
}
/* line 553, ../sass/partials/_base.scss */
.work-background .container .work a {
  line-height: 24px;
  text-decoration: underline;
}
/* line 557, ../sass/partials/_base.scss */
.work-background .container .work .description {
  margin-top: 10px;
}
/* line 559, ../sass/partials/_base.scss */
.work-background .container .work .description p {
  font-size: 12px;
  line-height: 18px;
  color: #000;
}
/* line 563, ../sass/partials/_base.scss */
.work-background .container .work .description p span {
  color: #4d4d4f;
}
/* line 568, ../sass/partials/_base.scss */
.work-background .container .work .screenshots {
  margin-top: 15px;
}
/* line 570, ../sass/partials/_base.scss */
.work-background .container .work .screenshots img {
  margin-top: 10px;
  width: 950px;
}

/* line 579, ../sass/partials/_base.scss */
.container .advertising {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .container .advertising {
  overflow-x: hidden;
}
/* line 582, ../sass/partials/_base.scss */
.container .advertising .booklet img {
  width: 950px;
}
/* line 586, ../sass/partials/_base.scss */
.container .advertising .city-light {
  padding-left: 240px;
}
/* line 588, ../sass/partials/_base.scss */
.container .advertising .city-light img {
  width: 530px;
}

/* line 2, ../sass/partials/_footer.scss */
footer {
  background: #f8f8f8;
  min-width: 950px;
  width: auto !important;
  margin-top: 60px;
  clear: both;
}
/* line 8, ../sass/partials/_footer.scss */
footer .footer-container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  color: #4f4f4f;
  line-height: 24px;
  padding-top: 40px;
}
/* line 13, ../sass/partials/_footer.scss */
footer .footer-container ul {
  margin-top: 25px;
}
/* line 16, ../sass/partials/_footer.scss */
footer .footer-container ul li a {
  color: #4f4f4f;
  text-decoration: none;
}
/* line 19, ../sass/partials/_footer.scss */
footer .footer-container ul li a:hover {
  color: #d4372a;
}
/* line 25, ../sass/partials/_footer.scss */
footer .footer-container .sitemap {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .sitemap {
  overflow-x: hidden;
}
/* line 28, ../sass/partials/_footer.scss */
footer .footer-container .resources {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
  padding-left: 40px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .resources {
  overflow-x: hidden;
}
/* line 32, ../sass/partials/_footer.scss */
footer .footer-container .twitter {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 430px;
  padding-left: 80px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .twitter {
  overflow-x: hidden;
}
/* line 36, ../sass/partials/_footer.scss */
footer .footer-container .twitter h4 a {
  color: #979797;
  text-decoration: underline;
}
/* line 39, ../sass/partials/_footer.scss */
footer .footer-container .twitter h4 a:hover {
  color: #4d4d4f;
  text-decoration: none;
}
/* line 44, ../sass/partials/_footer.scss */
footer .footer-container .twitter h4 a.music {
  margin-left: 35px;
}
/* line 47, ../sass/partials/_footer.scss */
footer .footer-container .twitter h4 a.active {
  color: #4d4d4f;
  text-decoration: none;
}
/* line 52, ../sass/partials/_footer.scss */
footer .footer-container .twitter p {
  background: #fff;
  border: 1px dotted #736357;
  border-radius: 4px;
  margin-top: 16px;
  padding: 8px;
  position: relative;
  color: #736357;
}
/* line 60, ../sass/partials/_footer.scss */
footer .footer-container .twitter p span {
  display: block;
  width: 23px;
  height: 24px;
  position: absolute;
  bottom: 0;
  right: 10px;
  background: url("../images/quotes.png") no-repeat;
}
/* line 70, ../sass/partials/_footer.scss */
footer .footer-container .twitter span {
  float: right;
  color: #736357;
}
/* line 75, ../sass/partials/_footer.scss */
footer .footer-container .address {
  display: inline;
  float: left;
  margin-right: 0;
  width: 190px;
  padding-left: 40px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer .footer-container .address {
  overflow-x: hidden;
}
/* line 78, ../sass/partials/_footer.scss */
footer .footer-container .address address {
  margin-top: 25px;
}
/* line 82, ../sass/partials/_footer.scss */
footer .footer-container .copyright {
  color: #979797;
}

/* line 2, ../sass/partials/_header.scss */
header {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 4, ../sass/partials/_header.scss */
header .header {
  margin-top: 50px;
}
/* line 6, ../sass/partials/_header.scss */
header .header .left-side {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header .header .left-side {
  overflow-x: hidden;
}
/* line 10, ../sass/partials/_header.scss */
header .header .left-side .lang-list ul li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
header .header .left-side .lang-list ul li {
  *display: inline;
}
/* line 12, ../sass/partials/_header.scss */
header .header .left-side .lang-list ul li a {
  font-family: 'Marmelad', sans-serif;
  color: #4d4d4f;
  text-decoration: underline;
}
/* line 16, ../sass/partials/_header.scss */
header .header .left-side .lang-list ul li a:hover {
  text-decoration: none;
}
/* line 20, ../sass/partials/_header.scss */
header .header .left-side .lang-list ul li a.active {
  color: #b6b6b6;
  text-decoration: none;
}
/* line 24, ../sass/partials/_header.scss */
header .header .left-side .lang-list ul li a.ua {
  margin-left: 10px;
}
/* line 30, ../sass/partials/_header.scss */
header .header .left-side .slogan {
  margin-top: 82px;
}
/* line 32, ../sass/partials/_header.scss */
header .header .left-side .slogan img {
  width: 389px;
  height: 171px;
}
/* line 38, ../sass/partials/_header.scss */
header .header .left-side .menu ul {
  margin-top: 25px;
}
/* line 40, ../sass/partials/_header.scss */
header .header .left-side .menu ul li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0 30px 0 0;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
header .header .left-side .menu ul li {
  *display: inline;
}
/* line 43, ../sass/partials/_header.scss */
header .header .left-side .menu ul li a {
  color: #4c4d4f;
  text-decoration: none;
  font-size: 17px;
}
/* line 47, ../sass/partials/_header.scss */
header .header .left-side .menu ul li a:hover {
  color: #d4372a;
}
/* line 51, ../sass/partials/_header.scss */
header .header .left-side .menu ul li a.active {
  color: #d4372a;
}
/* line 58, ../sass/partials/_header.scss */
header .header .logo {
  display: inline;
  float: left;
  margin-right: 0;
  width: 350px;
  padding-left: 200px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html header .header .logo {
  overflow-x: hidden;
}
/* line 61, ../sass/partials/_header.scss */
header .header .logo a img {
  width: 331px;
  height: 323px;
  float: right;
}
